* {
    font-family: Roboto;
    flex: 1;
    max-width: 1000px;
    margin: auto;
}

html {
    background-color: black;
}

.container-top {
    display: flex;
    background-color: #1F2937;
}

.main-text .Hero-main-text {
    display: flex;
    padding: 10%;
    padding-bottom: 0;
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    background-color: #1F2937;
}

.Logo-top {
    width: 200px;
    display: flex;
    background-color: #1F2937;
}

.top-menu {
    display: flex;
    background-color: #1F2937;

    justify-content: flex-end;
    align-items: center;
    margin-left: 50%;
    margin-top: 10px;
}

.top-menu a {
    color: grey;
    margin-left: 1px;
}

.wrapper {
    background-color: #1F2937;
    display: flex;
    flex: 1;
}

.logo-mid img {
    width:75%;
}

.Hero-secondary-text {
    padding-left: 10%;
    color: #E5E7EB;
    font-size: 18px;
}


.signup-button button {
    color: white;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: blue;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: large;

}

.signup-button button:hover {
    background-color: #245191;
}

.content {
    background-color: white;
}

.Content-header {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 36px;
    font-weight: bolder;
    justify-content: center;
}

.plaatjes {
    background-color: white;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

.plaatjes .banaan1,
.plaatjes .banaan2,
.plaatjes .banaan3,
.plaatjes .banaan4 {
    display: flex;
    flex-direction: column;
}

.plaatjes img {
    background-color: white;
    width: 150px;
    border: 5px solid blue;
    border-radius: 25px;
}


.plaatjes .banaan1 .tekst-banaan1,
.plaatjes .banaan2 .tekst-banaan2,
.plaatjes .banaan3 .tekst-banaan3,
.plaatjes .banaan4 .tekst-banaan4 {
    font-size: 12px;
    width: 50%;
    text-align: center;
    margin-bottom: 10px;
}

.content-2 {
    background-color: lightgray;
        padding-left: 25%;
        padding-right:25%;
        padding-top:8%;
        padding-bottom: 8%;
        font-style: italic;
        font-size: larger;        
}

.content-2 .source{
    text-align: right;
    font-weight: bolder;
}

.callToAction{
       background-color: white;
     
    }

.callToAction .Blue-background{
    display:flex;
         background-color: blue;
            
     }

    .callToAction .Blue-background .actionText1{
       display:flex;
       flex: 1;
              padding-top: 20px;
       flex-direction: column;
       color: white;
      
    }

    .callToAction .Blue-background .actionText1 span{
        font-size: 12px;
            }

            .callToAction .Blue-background .actionButton{
                margin:50px;
          
            }

